.brand-name {
    font-family: 'Mochiy Pop P One', sans-serif;
}

.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.footer-default {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30rem;
    height: 65vh;
    transform: translate(-50%, -50%);
}

.welcome-box {
    text-align: center;
}

.title-welcome {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    margin-bottom: 0;
    font-size: 30px;
}

.logo-big {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 50px;
}

.create-account-text {
    margin-top: 3rem;
    font-size: 2rem;
    text-align: center;
}

.form-box {
    padding: 1rem;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 600;
}

.btn-create {
    margin: 0;
    left: 50%;
}

.img-clipboard {
    width: 300px;
    height: 300px;
    position: fixed;
    left: 1rem;
    bottom: 6rem;
}

.img-pointer {
    width: 4rem;
    height: 3rem;
    position: fixed;
    right: 45rem;
    top: 50rem;
}

.aside-container {
    position: fixed;
    z-index: 3;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    min-height:90%;
    height:auto;
    width: 25rem;
    background-color: #232323;
    border-radius: 10px;
    color: #FCFFF4;
}

.profile-img {
    left: 100px;
    height: 12rem;
    width: 12rem;
    border-radius: 500px;
    border: 2px solid white;
}

.img-container {
    text-align: center;
}

.profile-header {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.profile-name {
    margin-bottom: 0;
}

.projects-title {
    font-size: 35px;
    text-transform: uppercase;
}

.projects-container {
    margin-top: 2.5rem;
    margin-left: 30%;
    width: 60%;
}

.add-project-container {
    margin-top: 2.5rem;
    margin-left: 30%;
    padding: 1rem;
    width: 60%;
    /* border: 2px solid black; */
}

.websites-projects-title {
    text-align: center;
}

.inline-test {
    display: flex;
}

.projects-header {
    display: flex;
    justify-content: space-between;
}

.buttons-group {
    margin-top: 1rem;
    justify-content: flex-end;
}

.btn-custom {
    width: 25%;
}

.input-row {
    margin-bottom: 1rem;
}

.add-project-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.float_l {
    
}

.btn-logout  {
    text-decoration: none;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.technologies-container {
    margin-bottom: 1rem;
}

.general-info-container p {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    padding: 0;
    margin: 0;
}

.education-card {
    display: flex;
    border: 1px solid white;
}

.education-container {
    margin-top: 1rem;
}

.cards-container {
    justify-content: space-between;
    display: flex;
}

.project-card {
    width: 23rem;
}